.main-div {
    border: 2px solid black;
    background-color: rgba(184, 197, 223, 0.918);
    color: aliceblue;
    border-radius: 10px;
    padding: 10px;
    width: 350px;
    max-height: 500px;
    margin-right: 5px;
    margin-top: 10px;
}
.main-header{
    color: navy;
    font-size: medium;
}

.description{
text-align: left;
color: rgba(1, 1, 107, 0.815);
font-family: 'Courier New', Courier, monospace;
font-weight:500;

}
.img-container{
background: white;
border: 1px solid black;
height: 130px;
width: 130px;
border-radius: 50%;  
padding: 3px;
transform: translate(110px,25px)    
}

.img{
height: 130px;
width: 130px;
border-radius: 50%;
}

h3{
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin:5px 2px
}
.icon{
    height:33px;
    width:28px;
    margin:5px 26px 5px 26px
}
.icons{
    border: 1px solid black;
    border-radius: 10px;;
    background-color: rgb(170, 106, 76);
    justify-content: center;
    display: flex;
    flex-direction: row;
    
}

.upper-container{
    background-color: rgb(171, 74, 236);
    height: 100px;
    border-radius: 10px;
}
.lower-container{
    margin:80px 10px 0px 10px;
}